body{
   background-color: #C0FEFC
}

hr
{
  border-color: grey;
  border-style:dotted none none none;
  border-width: 5px;
  width: 4%;
}
h1
{
  color:#3EDBF0;
}
h3
{
  color: #3EDBF0;
}

#ASHEN{
  border-radius: 100%;
  height: 120px;
}
